GAIL PC Transfer Optimizer-1.json
{
  "name": "GAIL PC Transfer Optimizer-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pc-logistics",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": ""
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        240
      ],
      "id": "7e74d613-97ba-45dc-a8be-55333ae27835",
      "name": "Webhook1",
      "webhookId": "b99196b6-617e-41af-90ba-8d756b7f4d8a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://revisit-wildly-egging.ngrok-free.dev/extract-transfers",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        64
      ],
      "id": "705e25f4-56d3-4b40-b14d-ec9f2894922f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Parse OCR table rows into pipe-delimited records. Each input line is one row: space-separated x0:word tokens sorted left-to-right. Columns left-to-right: SN, EMPID, NAME, GRADE, CURRENT, NEW, FUNCTION, REMARKS. Multi-word values (names, plant/city names like 'DABHOL KLL') stay in one field. Grade is always 2 chars: E or S + digit. Output exactly one line per input row: SN|EMPID|NAME|GRADE|CURRENT|NEW|FUNCTION|REMARKS. Leave a field blank if absent. No headers, no explanations, no markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `${$json.rows}`\n    }\n  ],\n  \"temperature\": 0,\n  \"response_format\": { \"type\": \"text\" }\n}\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        192
      ],
      "id": "5fbd706b-23de-4d66-975f-82ec694a79c3",
      "name": "llm3",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2560,
        432
      ],
      "id": "78a9719f-4f8b-4275-883a-768e75f5dcc8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://revisit-wildly-egging.ngrok-free.dev/optimize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        432
      ],
      "id": "4b61a3c7-07d2-438a-9bbc-cf753462e31f",
      "name": "FASTapi Server1"
    },
    {
      "parameters": {
        "jsCode": "// Enable \"Execute Once\" in node Settings so this runs on the full batch,\n// not once per PDF item.\nconst items = $input.all();\n\nconst plantSet = new Set();\nfor (const item of items) {\n  const transfers = item.json.transfers || [];\n  for (const transfer of transfers) {\n    if (transfer.current_location) {\n      plantSet.add(\n        transfer.current_location\n          .replace(/\\s+Plant$/i, \"\")\n          .trim()\n      );\n    }\n    if (transfer.new_location) {\n      plantSet.add(\n        transfer.new_location\n          .replace(/\\s+Plant$/i, \"\")\n          .trim()\n      );\n    }\n  }\n}\n\nreturn [...plantSet].map(name => {\n  const firstPart = name.split(/[\\s-]+/)[0];\n  return {\n    json: {\n      plant_name: name,\n      search_query: `${firstPart}, India`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        160
      ],
      "id": "29f2a5df-c671-4006-bea1-7021077637c3",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const MANUAL_COORDINATES = {\n  \"ADIYAKAMANGALAM\": { latitude: 10.761814, longitude: 79.678294 },\n};\n\nconst plantName = $('Code in JavaScript11').item.json.plant_name;\nconst location = $json.results[0];\n\n// Manual override takes priority — skip geocoding result entirely if we have one\nif (MANUAL_COORDINATES[plantName]) {\n  return {\n    json: {\n      plant_name: plantName,\n      latitude: MANUAL_COORDINATES[plantName].latitude,\n      longitude: MANUAL_COORDINATES[plantName].longitude,\n      geocode_failed: false,\n      manually_corrected: true,\n      originalData: $('Code in JavaScript11').item.json.originalData\n    }\n  };\n}\n\nif (location.components._type === 'country') {\n  return {\n    json: {\n      plant_name: plantName,\n      latitude: null,\n      longitude: null,\n      geocode_failed: true,\n      originalData: $('Code in JavaScript11').item.json.originalData\n    }\n  };\n}\n\nreturn {\n  json: {\n    plant_name: plantName,\n    latitude: Number(location.geometry.lat),\n    longitude: Number(location.geometry.lng),\n    geocode_failed: false,\n    originalData: $('Code in JavaScript11').item.json.originalData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        416
      ],
      "id": "2eb1cd5a-ed74-42a9-ad3a-ad51ba12661f",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst coordMap = {};\nfor (const item of items) {\n  coordMap[item.json.plant_name] = {\n    latitude: item.json.latitude,\n    longitude: item.json.longitude\n  };\n}\n\nconst allTransfers = $('Parse LLM output').first().json?.transfers ?? [];\n\nconst transfers = allTransfers.map(t => {\n  const fromKey = t.current_location;\n  const toKey = t.new_location;\n  return {\n    employee_id: t.emp_no,\n    employee_name: t.name,\n    from_location: fromKey,\n    to_location: toKey,\n    from_coords: coordMap[fromKey] ?? null,\n    to_coords: coordMap[toKey] ?? null,\n  };\n});\n\nreturn [{ json: { transfers } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        448
      ],
      "id": "37cab02c-e9ec-469b-84c2-fe2cf0b66047",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2256,
        432
      ],
      "id": "a60d285d-3f80-4d7a-99a3-2862f58c27ab",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json // response is an array with one object\nconst rows = [];\n\n// Two-way swaps\nfor (const swap of result.two_way_swaps ?? []) {\n  for (const t of swap.transfers) {\n    rows.push({\n      type: \"2-way swap\",\n      cycle_id: swap.cycle_id,\n      employee_id: t.employee_id,\n      employee_name: t.employee_name,\n      from_location: t.from_location,\n      to_location: t.to_location,\n      reason: swap.reason\n    });\n  }\n}\n\n// Three-way swaps\nfor (const swap of result.three_way_swaps ?? []) {\n  for (const t of swap.transfers) {\n    rows.push({\n      type: \"3-way swap\",\n      cycle_id: swap.cycle_id,\n      employee_id: t.employee_id,\n      employee_name: t.employee_name,\n      from_location: t.from_location,\n      to_location: t.to_location,\n      reason: swap.reason\n    });\n  }\n}\n\n// Surplus transfers (bulk city-to-city shipments)\nfor (const s of result.surplus_transfers ?? []) {\n  rows.push({\n    type: \"Surplus transfer\",\n    cycle_id: \"\",\n    employee_id: \"\",\n    employee_name: \"\",\n    from_location: s.from_location,\n    to_location: s.to_location,\n    quantity: s.quantity,\n    reason: \"City needs PC — surplus routing\"\n  });\n}\n\n// Unresolved transfers\nfor (const t of result.unresolved_transfers ?? []) {\n  rows.push({\n    type: \"Unresolved\",\n    cycle_id: \"\",\n    employee_id: t.employee_id,\n    employee_name: t.employee_name,\n    from_location: t.from_location,\n    to_location: t.to_location,\n    reason: \"No match found\"\n  });\n}\n\nreturn rows.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        432
      ],
      "id": "edde1a15-6b29-4c6b-862f-6d8043f06e51",
      "name": "Code in JavaScript15"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst items = $input.all();\n\nfor (const item of items) {\n  const name = item.json.plant_name;\n  staticData.geocodeCache[name] = {\n    latitude: item.json.latitude,\n    longitude: item.json.longitude\n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        2064
      ],
      "id": "b583c1e4-6d4f-4b37-bbfd-ecbb85bf4a8d",
      "name": "Code in JavaScript17"
    },
    {
      "parameters": {
        "url": "https://api.opencagedata.com/geocode/v1/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.plant_name }}, India"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "countrycodes",
              "value": "in"
            },
            {
              "name": "key",
              "value": "0ccff4130e68a7a5e8907780825b561c"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PC-Logistics-Optimizer/1.0 (sanyasrivastava1@gmail.com)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1936,
        1968
      ],
      "id": "2d3624bc-ea40-4648-9ac4-5ccbd178e8b2",
      "name": "coordinates1",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        1936
      ],
      "id": "2dcca95e-bf6e-4e6f-95bf-2bd51d49330d",
      "name": "Wait",
      "webhookId": "65acc6ba-f83c-4a6d-8aad-720272e17e47"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        2352
      ],
      "id": "b52fada3-0af7-4dde-895d-e428ab2adc6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.plant_name }}, India"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "countrycodes",
              "value": "in"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PC-Logistics-Optimizer/1.0 (sanyasrivastava1@gmail.com)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2048,
        2432
      ],
      "id": "6beb2533-0bca-4470-acec-fdf2ea324e30",
      "name": "coordinates",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.opencagedata.com/geocode/v1/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "countrycodes",
              "value": "in"
            },
            {
              "name": "key",
              "value": "d2011716522b4671b957fd538a3fdec0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "PC-Logistics-Optimizer/1.0 (sanyasrivastava1@gmail.com)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        416
      ],
      "id": "24b50987-c406-4729-967b-6b37c6088539",
      "name": "coordinates2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const binaryKeys = Object.keys($input.first().binary || {});\nreturn binaryKeys.map(key => ({\n  json: { sourceFile: key },\n  binary: { data: $input.first().binary[key] }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        208
      ],
      "id": "396e9c67-4d11-4ae7-81ba-77a22fa16119",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        16
      ],
      "id": "f0417e4e-424b-483a-98bb-a955e797de2e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1456,
        1744
      ],
      "id": "0facb11e-89a3-4f63-9e7f-fd9ab13f9d12",
      "placeholder": true
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        192
      ],
      "id": "f9f50a9b-58d0-4b43-8ecf-dc9ed9564898",
      "name": "Wait1",
      "webhookId": "83695449-d6f7-4ed0-96a3-4fccd5b048be"
    },
    {
      "parameters": {
        "jsCode": "// Mode: \"Run Once for All Items\"\nconst items = $input.all(); // one item per PDF document\nconst pageItems = [];\n\nfor (const item of items) {\n  const doc = item.json; // { source_filename, page_width, num_pages, pages, total_candidate_rows }\n  for (const page of doc.pages) {\n    pageItems.push({\n      json: {\n        source_filename: doc.source_filename,\n        page_number: page.page_number,\n        rows: page.rows\n      }\n    });\n  }\n}\n\nreturn pageItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        0
      ],
      "id": "87ae25b5-b594-4f6e-ad10-eac1a9ab348f",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet allRecords = [];\nfor (const item of items) {\n  const text = item.json.choices[0].message.content.trim(); // adjust path to match your LLM node's output shape\n  const lines = text.split(\"\\n\").filter(l => l.trim());\n  for (const line of lines) {\n    const [sn, emp_no, name, grade, current, newloc, func, remarks] = line.split(\"|\");\n    allRecords.push({ sn, emp_no, name, grade, current_location: current, new_location: newloc, new_function: func, remarks });\n  }\n}\nreturn [{ json: { transfers: allRecords } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -32
      ],
      "id": "2bce1f97-d7c2-4ece-9239-14ba0730a40f",
      "name": "Parse LLM output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llm3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FASTapi Server1": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "coordinates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "FASTapi Server1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript15": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coordinates1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coordinates2": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Parse LLM output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "llm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM output": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2cf28eab-59ab-49a7-bffd-f1661efe6925",
  "meta": {
    "instanceId": "3e3c15f07a24283824bf7748ffcb8373586e8971261878aa67c25e140aca677d"
  },
  "nodeGroups": [],
  "id": "QpG8A8hKnyhECbK8",
  "tags": []
}